.Quit {
  position: absolute;
  top: 5%;
  left: 13%;
  transform: translate(-50%, -50%);
  width: 7%;
  height: 5%;
  color: white;
  background-color: darken(#3f37c9, 40%);
  border: 1px solid white;
  border-radius: 5px;
  text-transform: uppercase;
  transition: 0.2s;
  &:hover {
    background-color: white;
    color: darken(#3f37c9, 40%);
    border: 1px solid black;
    cursor: pointer;
  }
}
