.Stage {
  position: relative;
  width: 75%;
  height: 100vh;
  overflow: hidden;
  background-color: #052e64;

  img {
    max-width: 100%;
    height: 100%;
    filter: brightness(70%);
    user-select: none;
    pointer-events: none;
  }

  .Timer {
    position: absolute;
    top: 38%;
    left: 15%;
  }
  .Question {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .Answers {
    position: absolute;
    top: 77%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .GameEnd {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  button {
    position: absolute;
    top: 5%;
    transform: translate(-50%, -50%);
    width: 10%;
    height: 5%;
    color: white;
    font-size: 1.4em;
    background-color: darken(#3f37c9, 40%);
    border: 1px solid white;
    border-radius: 5px;
    text-transform: uppercase;
    transition: 0.2s;
    &:hover {
      background-color: white;
      color: darken(#3f37c9, 40%);
      border: 1px solid black;
      cursor: pointer;
    }
  }
  @media only screen and (max-width: 1600px) {
    .Timer {
      left: 13%;
    }
    button {
      width: 12%;
      font-size: 1.2em;
    }
  }
}
